# Ignore virtual environment
venv/
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore model files (if large)
*.pkl

# Ignore data files (if large and can be regenerated)
data/raw/
data/processed/

# Ignore other unnecessary files
.DS_Store
