/* Billing.css */
.billing-container {
  padding: 2rem;
  text-align: center;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  background: #333;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.form {
  background: #444;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
    0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
    0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  position: relative;
  border-radius: 25px;
}

.form .label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: -moz-fit-content;
  height: fit-content;
}

.form .label:has(input:focus) .title {
  top: 0;
  left: 0;
  color: #6c63ff;
}

.form .label .title {
  padding: 0 10px;
  transition: all 300ms;
  font-size: 12px;
  color: #8b8e98;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  top: 14px;
  position: relative;
  left: 15px;
  background: #444;
}

.form .input-field {
  width: 100%;
  height: 50px;
  text-indent: 15px;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  border: 1px solid #21262e;
  transition: all 0.3s;
  caret-color: #6c63ff;
  color: #aeaeae;
}

/* Autofill background and text color */
.form .input-field:-webkit-autofill,
.form .input-field:-webkit-autofill:hover,
.form .input-field:-webkit-autofill:focus {
  border-color: #6c63ff;
  -webkit-text-fill-color: #aeaeae;
  -webkit-box-shadow: 0 0 0px 1000px #444 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form .input-field:hover {
  border-color: #6c63ff;
}

.form .input-field:focus {
  border-color: #6c63ff;
}

.form .split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.form .split label {
  width: 48%;
}

.form .checkout-btn {
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 15px;
  font-weight: 700;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  fill: #fff;
  color: #fff;
  border: 2px solid transparent;
  background: #6c63ff;
  transition: all 200ms;
  width: 100%; /* Make the button the same width as the input fields */
}

/* Autofill background and text color */
.form .input-field:-webkit-autofill,
.form .input-field:-webkit-autofill:hover,
.form .input-field:-webkit-autofill:focus {
  border-color: #6c63ff;
  -webkit-text-fill-color: #aeaeae;
  -webkit-box-shadow: 0 0 0px 1000px #444 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form .input-field:hover {
  border-color: #6c63ff;
}

.form .input-field:focus {
  border-color: #6c63ff;
}

.form .checkout-btn {
  width: 100%; /* Make the button the same width as the input fields */
}

.form .checkout-btn:active {
  scale: 0.95;
}

.form .checkout-btn:hover {
  color: #6c63ff;
  border: 2px solid #6c63ff;
  background: transparent;
}

/* Toastify custom styles */
.Toastify__toast--success {
  background-color: #333 !important;
  color: #6c63ff !important;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Toastify__toast--error {
  background-color: #333 !important;
  color: #ff6b6b !important;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Toastify__toast-icon {
  fill: #6c63ff !important;
}

.Toastify__close-button {
  color: #fff !important;
}

.Toastify__progress-bar {
  background-color: #6c63ff !important;
}
