.dash-container {
  padding: 2rem;
  text-align: center;
  color: #fff;
  max-height: 80vh; /* Adjust the max-height to fit your design */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.dash-container::-webkit-scrollbar {
  width: 0;  /* Safari and Chrome */
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.stat-card {
  background: rgba(50, 50, 50, 0.9);
  padding: 1rem 1rem; /* Adjusted padding */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.3s ease, background 0.3s ease;
  width: 22%;
  cursor: pointer;
}

.stat-card i {
  font-size: 2.5rem; /* Adjusted icon size */
  color: #fff; /* Ensure the color is white */
  margin-bottom: 0.5rem; /* Add margin */
}

.stat-card h3 {
  font-size: 1rem; /* Adjusted font size */
  font-weight: bold; /* Make the heading text bold */
  color: #fff; /* Ensure the color is white */
  margin: 0.5rem 0; /* Add margin */
  text-align: center; /* Center align text */
}

.stat-card p {
  font-size: 1.2rem; /* Reduced font size */
  line-height: 1; /* Ensure line-height is consistent */
  color: #ddd; /* Slightly lighter color for contrast */
  margin: 0;
  text-align: center; /* Center align text */
}

.stat-card:hover {
  transform: scale(1.05);
  background: #6c63ff; /* Change background color on hover */
}

.chart-container {
  background: rgba(50, 50, 50, 0.9);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 400px; /* Fixed height for the 3D chart container */
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  transition: background 0.5s ease; /* Smooth transition for background color */
}

.chart-container-2d {
  background: rgba(50, 50, 50, 0.9);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 400px; /* Fixed height for the 2D chart container */
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease; /* Smooth transition for background color */
}

.chart-container:hover,
.chart-container-2d:hover {
  background: #6c63ff;
}
