/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(120deg, #121212, #323232);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Signup background */
.signup-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Signup container */
.signup-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  background: rgba(40, 40, 40, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.signup-container:after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background:#764ba2;
  border-radius: 10px;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.signup-container:hover:after {
  transform: translateY(0);
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }
}

/* Signup form */
.signup-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(50, 50, 50, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  margin: 20px;
}

.signup-form h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input-container .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #bbb;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background: #333;
}

.signup-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #6c63ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.signup-button:hover {
  background: #5752d6;
}

.error {
  color: red;
  margin-top: 1rem;
}

.signup-form p {
  margin-top: 1rem;
  color: #bbb;
}

.signup-form p a {
  color: #6c63ff;
  text-decoration: none;
}

.signup-form p a:hover {
  text-decoration: underline;
}
