@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.users-container {
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  gap: 1.5rem; /* Space between the cards */
}

.user-card {
  margin: 50px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 200px; /* Adjusted width */
  height: 300px; /* Adjusted height */
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.user-card:hover {
  transform: scale(1.05);
}

.user-wave {
  position: absolute;
  width: 250%; /* Increased width */
  height: 250%; /* Increased height */
  top: -75%; /* Shift to cover entire card */
  left: -50%; /* Shift to cover entire card */
  opacity: 0.6;
  background: linear-gradient(744deg, #6e45e2, #88d3ce 40%, #3a7bd5 70%, #3a6073); /* Updated colors to fit the theme */
 /* Added orange color */
}

.user-wave:nth-child(2) {
  top: -60%; /* Adjusted position for the second wave */
}

.user-wave:nth-child(3) {
  top: -50%; /* Adjusted position for the third wave */
}

.user-infotop {
  text-align: center;
  font-size: 16px; /* Reduced font size */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.user-icon {
  width: 4em; /* Increased icon size */
  margin-top: -1em;
  padding-bottom: 1em;
}

.user-title {
  font-size: 12px; /* Reduced font size */
  font-weight: 100;
  text-transform: lowercase;
  margin-top: 10px;
}

.user-name {
  font-size: 12px; /* Reduced font size */
  font-weight: 100;
  text-transform: lowercase;
  margin-top: 5px;
}

.user-status {
  margin-top: 10px;
  font-size: 12px; /* Reduced font size */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the status text and dot */
}

.user-status strong {
  margin-right: 5px; /* Add space between "Status:" and the status text */
}

.user-status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.user-status-dot.active {
  background-color: green;
}

.user-status-dot.inactive {
  background-color: orange;
}

.user-wave:nth-child(2),
.user-wave:nth-child(3) {
  top: 180px; /* Adjusted position */
}

.playing .user-wave {
  border-radius: 40%;
  animation: user-wave 3000ms infinite linear;
}

.user-wave {
  border-radius: 40%;
  animation: user-wave 55s infinite linear;
}

.playing .user-wave:nth-child(2) {
  animation-duration: 4000ms;
}

.user-wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .user-wave:nth-child(3) {
  animation-duration: 5000ms;
}

.user-wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes user-wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
